// Variables
// Cut and Paste these into your variables document and modify as needed
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$color-default: rgb(161, 161, 169) !default
$color-success: rgb(50, 210, 150) !default
$color-info: rgb(30, 135, 240) !default
$color-warning: rgb(250, 160, 90) !default
$color-danger: rgb(240, 80, 110) !default
$border-radius: 0.5rem
$border-size: 0.1rem

// SASS
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.alert
  display: block
  padding: 1.5rem
  margin: 1.5rem 0
  border: $border-size solid transparent
  border-radius: $border-radius
  border-color: rgba($color-default, 0.1)
  background-color: rgba($color-default, 0.1)
    

.alert-info
  border-color: rgba($color-info, 0.1)
  background-color: rgba($color-info, 0.1)
  color: $color-info

.alert-success
  border-color: rgba($color-success, 0.1)
  background-color: rgba($color-success, 0.1)
  color: $color-success

.alert-warning
  border-color: rgba($color-warning, 0.1)
  background-color: rgba($color-warning, 0.1)
  color: $color-warning

.alert-danger
  border-color: rgba($color-danger, 0.1)
  background-color: rgba($color-danger, 0.1)
  color: $color-danger
